/*nav css*/
.text-primary{
    color: #FD6E0A;
}


.btn-primary{
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 15px 30px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

*{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #181818;
}

/*header css*/

.header{
    background: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .banner-pic{
    width: 500px;
}

.banner-g{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-h{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-co{
    max-width: 500px;
}

/* main css*/
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

.about-info-c{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    color: #757575;
}

.info-des{
    font-weight: bold;
    color: #474747;
}

/*about css*/
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-des{
    color: #757575;
    text-align: center;
    font-size: 18px;
}



/*what i do*/

#what-i-des{
    padding: 30px 150px;
}

.skill-c{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-des{
    color: #757575;
}

/*resume title*/

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-c{
    display: flex;
    gap: 50px;
}

.resume-item-des{
    color: #757575;
    font-size: 16px;
}

.resume-item-i{
    color: #757575;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.resume-item-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-c hr{
    margin: 30px 20px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}

/*footer css*/

footer{
    display: flex;
    background: #fff8f3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}

.footer-column{
    width: 50%;
}

.social-links a{
    margin-right: 25px;
}


.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border: 0;
    color: #757575;
    border-radius: 5px;
    background: #fff;
    width: 100%;
}
 



